<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         testdox="true"
>
    <testsuites>
        <testsuite name="Paystack PHP SDK">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxXml outputFile="testdox.xml"/>
    </logging>
</phpunit>
